@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --primary: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  @apply font-sans;
}
